<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477056148124-2slu7mr8q47elosskptdf0seb96rauul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477056148124-2slu7mr8q47elosskptdf0seb96rauul</string>
	<key>API_KEY</key>
	<string>AIzaSyDfTcLyXj49dXZppdfLT5ZEkVmZTws3BcA</string>
	<key>GCM_SENDER_ID</key>
	<string>477056148124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sheero.tily</string>
	<key>PROJECT_ID</key>
	<string>tily-49633</string>
	<key>STORAGE_BUCKET</key>
	<string>tily-49633.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477056148124:ios:8e7e8007a6bb06a65bc359</string>
</dict>
</plist>